<!--for referencing tutorial github https://github.com/chrissainty/blazor-in-action-->
<!-- for learning bootstrap   https://getbootstrap.com/docs/5.1/getting-started/introduction/-->
<!-- book being used https://livebook.manning.com/book/blazor-in-action/chapter-2/118 -->

@inherits LayoutComponentBase

<Header />

<main class="container mt-5 mb-5">
    @Body
</main>

@code {

}
